body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #160292, #dfdfdf);
  padding: 50px 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.contact-info {
  color: white;
  max-width: 600px;
  text-align: left;
  margin-bottom: 50px;
  animation: fadeInLeft 1s;
}

.contact-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: #a8a8a8;
}

.contact-details p {
  font-size: 1.25rem;
  margin: 10px 0;
}

.contact-details .email {
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
}

.contact-details i {
  margin-right: 10px;
}

.contact-social {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}

.contact-social a {
  font-size: 2rem;
  margin-right: 20px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.contact-social a:hover {
  color: #ff5a5f;
}

.contact-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  animation: fadeInRight 1s;
  position: relative;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.25rem;
}

.contact-form button {
  padding: 15px 20px;
  border: none;
  background-color: #ff5a5f;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #e04e4f;
}

.form-decoration {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 100px;
  height: 100px;
  background-color: #ff5a5f;
  border-radius: 50%;
  z-index: -1;
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-info {
    max-width: 45%;
  }
  .contact-form {
    max-width: 45%;
  }
}

/* Animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
